@page "/book"

<h1>Book Manager</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Quantity</th>
        </tr>
    </thead>
    @* <tbody>
        @foreach (Book book in books)
        {
                <tr>
                    <td>@book.BookId</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Genre</td>
                    <td>@book.Quantity</td>
                </tr>
        } 
    </tbody> *@
</table>


@code {
}
