@page "/book"

<header class="d-flex justify-content-between my-4">
    <h1>Book Management</h1>
    <div class="m-x-0">
        <NavLink class="btn btn-primary" href="">Add new book</NavLink>
    </div>
</header>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CPRG211FinalProject.Classes.Book book in books)
        {
                <tr>
                    <td>@book.BookId</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Genre</td>
                    <td>@book.Quantity</td>
                    <td class="text-center">
                        <button class="btn btn-info" >View book</button>
                        <button class="btn btn-warning" >Edit</button>
                        <button class="btn btn-danger" >Delete</button>
                    </td>
                </tr>
        } 
    </tbody>
</table>


@code {
    List<CPRG211FinalProject.Classes.Book> books = DatabaseManager.GetAllBooks(); 
}
