﻿@page "/customers"

<header class="d-flex justify-content-between my-4">
    <h1>Customer Management</h1>
    <div class="m-x-0">
        <NavLink class="btn btn-primary" href="addcustomer">Add new customer</NavLink>
    </div>
</header>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>last Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Customer customer in customers)
        {
            <tr>
                <td>@customer.CustomerID</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Email</td>
                <td>@customer.Phone</td>
                <td class="text-center">
                    <button class="btn btn-warning" @onclick="() => GoToEditCustomer(customer)">Edit</button>
                    <button class="btn btn-danger" @onclick="() => DeleteCustomer(customer)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Inject] NavigationManager NavigationManager { get; set; }
    List<Customer> customers = DatabaseManager.GetAllCustomers();

    private void GoToEditCustomer(Customer cus)
    {
        NavigationManager.NavigateTo($"/editcustomer/{cus.CustomerID}");
    }

    private void DeleteCustomer(Customer c)
    {
        DatabaseManager.DeleteCustomer(c.CustomerID);
        customers = DatabaseManager.GetAllCustomers();
    }
}